*.db*
*.log
*.sqlite
.google.token
.HA_VERSION
.uuid
.cloud
.storage/auth
.storage/auth_provider.homeassistant
.storage/cloud
.storage/core.*
.storage/mobile_app
.storage/onboarding
.storage/person
.storage/smartthings
google_calendars.yaml
known_devices.yaml
secrets.yaml
tts
www
**/__pycache__
